@font-face {
    font-family: 'myFont';
    src: url('font/aflfont.woff2') format('woff2'),
         url('font/aflfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
	min-width: 350px;
}

p, .name, ul, span, table {
	font-family: 'myFont';
}

h2 {
	min-width: 210px;
}

ul {
	padding-left: 25px;
}

.no-bottom-padding {
	padding-bottom: 0 !important;
}

#additional .row {
	padding-top: 5px;
}

#additional p {
	margin-bottom: 5px;
}

.border {
	padding: 10px;
	padding-top: 20px;
}

.header {
	margin-top: 0.5em;
}

.far.far {
	-webkit-text-stroke: 0.1px lightgray;
}

#photo {
	width: 70%;
	transform: rotate(3deg);
}

#photodiv {
	text-align: center;
}

.toptext {
	position: absolute;
	top: -13px;
	left: 30px;
	color: grey;
	font-size: 16px;
	background-color: white;
	z-index: 10000;
}
	
#attributes>div {
	height: 100%;
}

#attributes-line {
	min-width: 240px;
}

#quirks-line {
	min-width: 230px;
}

/* unvisited link */
a:link {
    color: grey !important;
	font-weight: 600 !important;
}

/* visited link */
a:visited {
    color: grey !important;
}

/* mouse over link */
a:hover {
    color: black !important;
}

/* selected link */
a:active {
    color: black !important;
}

#typer {
	opacity: 0;
}

.namemark:after {
	content: "-";
	display: inline-block;
	position: relative;
	left: -16px;
	top: -18px;
	width: 10px;
	height: 20px;
	-webkit-transform: rotate(-20deg);
	-ms-transform: rotate(-20deg);
	transform: rotate(-20deg);
}

@media only screen and (min-width: 768px) {
	/* For desktops: */
	body {
		padding-top: 25px;
	}

	.row {
		font-size: 15px;
		padding-bottom: 20px;
	}
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
	#quirks, #file, #contact, #attributes, #summary, #features, #kinks, #additional {
        margin-top: 20px;
	}
	
	.main {
		padding-bottom: 0;
	}
}